@font-face {
    font-family:Barlow;
    font-size:300;
    src: url(/src/assets/fonts/Barlow-Light.ttf);
}

@font-face {
    font-family:Barlow;
    font-weight:400;
    src: url(/src/assets/fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family:Barlow;
    font-weight:500;
    src: url(/src/assets/fonts/Barlow-Italic.ttf);
}

@font-face {
    font-family:Barlow;
    font-weight:600;
    src: url(/src/assets/fonts/Barlow-Medium.ttf);
}

@font-face {
    font-family:Barlow;
    font-weight:700;
    src: url(/src/assets/fonts/Barlow-SemiBold.ttf);
}