@use "../../styles/partials/typography";
@use "../../styles/partials/variables";

.card {
  width: 90%; 
  max-width: 120rem; 
  margin: 2rem auto; 
  background-color: #000000;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &__image-container {
    position: relative;
    height: 0;
    padding-top: 56.25%; 
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: variables.$primarywhite;
    font-family: Barlow;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
  }

  &__duration {
    color: #a0a0a0;
    font-size: 1.5rem;
    margin: 0;
  }
  
  &__button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%; 
    a {
        width: 30%;
        text-decoration: none;
        margin: 0 1.5rem 1.5rem;
      }
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Barlow;
    font-weight: 700;
    width: 85%;
    margin: 0 1.5rem 1.5rem;
    padding: 1rem 0;
    background-color: variables.$UpskillBlue;
    color: variables.$primarywhite;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: variables.$UpskillDarkBlue;
    }
  }
}
