@use "../../styles/partials/typography";
@use "../../styles/partials/variables";

.header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.6rem;
  background-color: variables.$JetBlack;
  color: variables.$primarywhite;

  &__search-icon {
    position: absolute;
    left: 5%; 
    top: 50%;
    transform: translateY(-50%);
    filter: brightness(0) invert(1);
  }

  .header-title {
    font-size: 1.8rem;
    font-family: Barlow;
    font-weight: 700;
    margin: 0;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
  
    &::after {
      content: attr(data-text);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      color: transparent;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      transition: all 0.3s ease;
    }
  
    &:hover {
      color: #fff;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  
      &::after {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
        transform: scale(1.1);
      }
    }
  }
}