@use"./styles/partials/typography";
@use"./styles/partials/variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: variables.$JetBlack;
}

